<!--<div [hidden]="getOrders().length>0">
  <h1>No orders</h1>
</div>
<div [hidden]="getOrders().length==0">
  <h1>List orders</h1>
</div>-->

<!--<div *ngIf="getOrders().length==0">
  <h1>No orders</h1>
</div>
<div *ngIf="getOrders().length>0">
  <h1>List orders</h1>
</div>-->

<ng-template #orders>Pending Orders</ng-template>
<ng-template #no_orders>No Pending Orders</ng-template>
<div *ngIf="getOrders().length>0 then orders else no_orders"></div>


<div>
  <ul class="list-group">
    <li class=list-group-item *ngFor="let order of getOrders(); index as i; even as even"
        [class.even]="even">
      <label></label>
      <input type="checkbox" (click)="remove(i)">
      <app-order-print [order]="order"></app-order-print>


      <!--{{order}}
      <button class="btn btn-danger"  (click)="remove(i)">remove</button>-->
    </li>
  </ul>
</div>


