<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Orders application</h1>
<div class="container">
  <div class="card">
    <div class="card-body">
      <app-orders-list></app-orders-list>
    </div>
    <div class="card-body">
      <app-orders-form></app-orders-form>
    </div>
  </div>
</div>-->
<!--<img [src]="url_image" alt=""><br>-->
<!--<button class="btn " [class.active]="isActive" (click)="tuggleActive()" >B U T T O N</button>-->
<!--<app-lorem-image></app-lorem-image>-->
<!--<input type="text" [(ngModel)]="text"><br>-->
<!--<button class="btn" (click)="onClick()"></button>-->
<!--<app-sync-input></app-sync-input>-->
<!--<app-like-setter (click)="countIncr()"></app-like-setter>
<p>{{count}}</p>-->
<!--
<app-lorem-image [image-width]="200" [image-height]="300" [category]="category" (change)="onChange($event)"></app-lorem-image>
<p>{{category|uppercase}}</p>-->

<!--<app-tweet [likes]="40"></app-tweet>-->

<app-nav-view tab1Name="Add Order" tab2Name="Pending orders" tab3Name="Login" tab4Name="Sign_Up">
  <ng-container class="c1">Any c1 content</ng-container>
  <ng-container class="c2">Any c2 content</ng-container>
  <ng-container class="c3"><app-login></app-login></ng-container>
  <ng-container class="c4">Any c4 content</ng-container>
</app-nav-view>
