<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Orders application</h1>-->
<!--<div class="container">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<app-orders-list></app-orders-list>-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<app-orders-form></app-orders-form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<img [src]="url_image" alt=""><br>-->
<!--<button class="btn " [class.active]="isActive" (click)="tuggleActive()" >B U T T O N</button>-->
<!--<app-lorem-image></app-lorem-image>-->
<!--<input type="text" [(ngModel)]="text"><br>-->
<!--<button class="btn" (click)="onClick()"></button>-->
<app-sync-input></app-sync-input>
