<!--<div class="card">
  <h1 class="card-header">
    {{twit.title}}
  </h1>
  <div class="card-body">
    <p>{{twit.body}}</p>
    <app-like-setter [likes]="likes" (change)="changeLikes($event)"></app-like-setter>
    <p>{{twit.likesCount}}</p>
  </div>
</div>-->

<app-header-body>
  <div class="header">
    {{twit.title}}
  </div>
  <ng-container class="body">
    <p>{{twit.body}}</p>
    <app-like-setter [likes]="likes" (change)="changeLikes($event)"></app-like-setter>
    <p>{{twit.likesCount}}</p>
  </ng-container>
</app-header-body>
